<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
<meta charset="UTF-8">
<title>TDB - {% block title %}{% endblock title %}</title>
<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/twitterbootstrap/
3.3.7/css/bootstrap.min.css" />
<script
src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></scrip
t>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitterbootstrap/
3.3.7/js/bootstrap.min.js"></script>
{% endblock head %}
</head>
<body>
{% block nav %}
<nav class="navbar navbar-default">
<div class="container-fluid">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" datatoggle="
collapse" data-target="#bs-example-navbar-collapse-1" ariaexpanded="
false">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="/">TDB</a>
</div>
<div class="collapse navbar-collapse" id="bs-example-navbarcollapse-
1">
<ul class="nav navbar-nav">
<li><a href="/jenkins">Jenkins <span class="sronly">(
current)</span></a></li>
<li><a href="/docker">Docker <span class="sronly">(
current)</span></a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
<li >
<li><a href="#">Deslogar</a></li>
</li>
</ul>
</div>
</div>
</nav>
{% endblock nav %}
{% block content %}{% endblock content %}
</body>
</html>