{% extends "base.html" %}
{% block title %}Login{% endblock title %}
{% block content %}
<div class="container">
<div class="row">
<div class="col-sm-12 col-md-6 col-md-offset-3">
<div class="panel panel-primary">
<div class="panel-heading">
<h1 class="panel-title clearfix">Bem vindo</h1>
</div>
<div class="panel-body">
<form>
<div class="form-group">
<label for="exampleInputEmail1">Email
address</label>
<input type="email" class="form-control"
id="exampleInputEmail1" placeholder="Email">
</div>
<div class="form-group">
<label for="exampleInputPassword1">Password</label>
<input type="password" class="form-control"
id="exampleInputPassword1" placeholder="Password">
</div>
<button type="submit" class="btn btn-primary pullright">
Submit</button>
</form>
</div>
</div>
</div>
</div>
</div>
{% endblock content %}