{% extends "base.html" %}
{% block title %}Docker{% endblock title %}
{% block content %}
<div class="container">
	<div class="row">
		<h1 ckass="painel-title clearfix">Docker</h1>
		</div>
		<div class="panel-body">
		<div class="table-responsive">
		<pre>{{jobs|print}}</pre>
		<table class="table table-striped table-responsive">
			<thead>
				<tr>
					<th>Job</th>
					<th>Status</th>
					<th>Ultima vez</th>
					<th>Ações</th>
				</tr>
				</thead>
				<tbody>
					<tr>
						<td>==NOME DO JOB==</td>
						<td>
							<img src="==IMAGEM DE ESTADO DO JENKINS==" alt="Icon">
						</td>
						<td>==STATUS DO ULTIMO BUILD==</td>
						<td>
							<a href="/jenkins/build/==NOME DO JOB==" class="glyphicon glyphicon-repeat"></a>
							<a href="/jenkins/update/==NOME DO JOB==" class="glyphicon glyphicon-pencil"></a>
						</td>
					</tr>
				</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock content %}