{% extends "base.html" %}
{% block title %}Jenkins{% endblock title %}
{% block content %}
<div class="container">
<div class="panel panel-primary">
<div class="panel-heading">
<h1 class="panel-title clearfix">Jenkins</h1>
</div>
<div class="panel-body">
<h2>==NOME DO JOB==</h2>
<form action="/jenkins/reconfig" method="POST">
<input type="hidden" name="name" value="==NOME DO JOB==<">
<textarea class="form-control" name="xml" rows="16">==XML DO
JOB==</textarea>
<br>
<button class="btn btn-primary pull-right">Atualizar</button>
</form>
</div>
</div>
</div>
{% endblock content %}